	<style type="text/css">
		 {box-sizing: border-box;}

 /* With below assignment of size repeat and position our background image will be automatically fitted on browser page*/
body {
    background-image:    url(image/1.jpg); 
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;

    
   

     }
.r{


background: rgb(0,0,0);
background: rgba(0,0,0,0.5);
color: #f1f1f1;
width: 60%;

     }

  label{
  	width: 30px;
    text-align: left!important;
  	padding-right: 50px;
  	display: inline-block;
    color: white;
    
       }

  input[type=text],input[type=email], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 25px;
  text-align: left!important;
}

input[type=text]:focus,input[type=email]:focus, input[type=password]:focus {
  background-color: #eff1c0;
  outline: none;

}


/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90px;
  opacity: 0.9;
  border-radius: 25px;
  
}

button:hover {
  opacity:0.2;
  
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #4CAF50;
  border-radius: 25px;

}
 }

}

	</style>;
